<div class="hero-section">
    <img src="Images/packages/hysterectomy-removal-banner-desktop.png" class="desktop_banner"
        alt="Cancer patient with headscarf smiling at Vasavi Hospital oncology care">
    <img src="Images/packages/hysterectomy-removal-banner.png" class="mobile_banner"
        alt="Comprehensive oncology care in Bangalore with advanced cancer treatments and expert oncologists">
    <button class="book-btn" (click)="openPopup()">Book an Appointment</button>
</div>

<!-- navs -->
<div class="carousel-container sticky-top">
    <div class="carousel-track" id="carouselTrack" #carouselTrack>
        <a *ngFor="let section of sections" class="section-item" [class.active]="activeSection === section.id"
            (click)="scrollToSection(section.id)">
            {{ section.name }}
        </a>

    </div>

    <button class="carousel-btn prev" id="prevBtn" #prevBtn>
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <polyline points="15,18 9,12 15,6"></polyline>
        </svg>
    </button>
    <button class="carousel-btn next" id="nextBtn" #nextBtn>
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <polyline points="9,18 15,12 9,6"></polyline>
        </svg>
    </button>
</div>

<!-- stat section -->

<section class="stats-section">
    <p class="stats-subtitle">
        Years of Expertise in Advanced Hysterectomy Care
    </p>

    <div class="stats-container">
        <div class="stat-card">
            <div class="icon-box yellow">
                <i class="fa-solid fa-stethoscope"></i>
            </div>
            <div class="stat-content">
                <h3>5,000+</h3>
                <p>Successful Surgeries performed</p>
            </div>
        </div>

        <div class="stat-card">
            <div class="icon-box pink">
                <i class="fa-solid fa-heart"></i>
            </div>
            <div class="stat-content">
                <h3>80-97%</h3>
                <p>Success Rate</p>
            </div>
        </div>

        <div class="stat-card">
            <div class="icon-box blue">
                <i class="fa-solid fa-bed"></i>
            </div>
            <div class="stat-content">
                <h3>15+</h3>
                <p>Years of Surgical Experience</p>
            </div>
        </div>
    </div>
</section>

<!-- stat section -->
<!-- 
    <section class="stats-section stat-mobile">
        <p class="stats-subtitle">
            Years of Expertise in <strong>Advanced Hysterectomy Care.</strong>
        </p>

        <div class="stats-container">
            <div class="stat-card">
                <div class="icon-box yellow">
                    <i class="fa-solid fa-stethoscope"></i>
                </div>
                <div class="stat-content">
                    <h3>12,000+</h3>
                    <p>Successful Hysterectomy Surgeries Completed</p>
                </div>
            </div>

            <div class="stat-card">
                <div class="icon-box pink">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="stat-content">
                    <h3>98%</h3>
                    <p>Patient Satisfaction & Comfort Rate</p>
                </div>
            </div>

            <div class="stat-card">
                <div class="icon-box blue">
                    <i class="fa-solid fa-bed"></i>
                </div>
                <div class="stat-content">
                    <h3>25+</h3>
                    <p>Years of Surgical Experience</p>
                </div>
            </div>
        </div>
    </section> -->

<!-- What is hernia -->
<section class="what-is-hernia" id="overview">
    <div class="what_content_Section">
        <h1>Affordable Hysterectomy Surgery in Bangalore</h1>
        <h2>What is Hysterectomy?</h2>
        <p>A hysterectomy is a surgical procedure to remove the uterus. It is usually recommended for women experiencing
            conditions such as <b>fibroids, abnormal uterine bleeding, endometriosis, chronic pelvic pain</b> orcertain
            types of uterine cancer. Depending on your condition, the surgery may also involve removing the cervix,
            ovaries orfallopian tubes.</p>
        <p>At <b>Vasavi Hospitals</b>, our expert gynecologists use <b>advanced laparoscopic and robotic</b> methods for
            safer surgery, less pain and faster recovery.</p>
        <p>If you’re experiencing persistent <b>pelvic pain, heavy bleeding or fullness in the lower abdomen</b>, meet
            our specialists for the right diagnosis and treatment.</p>
    </div>
    <div class="video">
        <video autoplay loop muted playsinline>
            <source src="/Images/packages/hysterectomy-video.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
</section>


<!--  -->
<div class="hernia-section-a" id="symptoms">

    <div class="feature-wrapper">

        <div class="features-grid-content">

            <div class="header-container">
                <h2>Know the Signs. Choose the Right Care.</h2>
                <p>Many women ignore early symptoms of uterine problems until they start affecting daily life. At
                    <b>Vasavi Hospitals</b> , we help you identify the cause early and treat it safely with advanced
                    surgical care.</p>
            </div>

            <div class="features-grid">
                <div class="feature-card">
                    <h3>Common Symptoms</h3>
                    <ul>
                        <li class="s_para" style="margin-top: 10px;">Heavy or irregular menstrual bleeding</li>
                        <li class="s_para" style="margin-top: 10px;">Persistent lower abdominal or pelvic pain</li>
                        <li class="s_para" style="margin-top: 10px;">Pressure or fullness in the lower abdomen</li>
                        <li class="s_para" style="margin-top: 10px;">Difficulty passing urine or bowel movements</li>
                    </ul>
                </div>
                <div class="feature-card">
                    <h3>Surgery Options</h3>
                    <p>At <b>Vasavi Hospitals</b> hysterectomy is performed using <span class="bold">advanced
                            laparoscopic and robotic-assisted techniques</span> for greater precision, minimal scarring
                        and faster recovery. Our expert gynecologists ensure every procedure is handled with utmost
                        safety and care.</p>
                </div>
                <div class="feature-card">
                    <h3>Affordable & Insurance-Covered Packages</h3>
                    <p>Transparent, all-inclusive packages starting at affordable price with <b>cashless insurance
                            options</b>, making advanced women’s healthcare accessible and stress-free.</p>
                </div>
            </div>

        </div>

        <div class="form" id="appointment">
            <app-callback-form [pageName]="selectedPageName" />
        </div>

    </div>

    <p class="note-text">
        <strong><i class="fa-solid fa-info"></i> Note:</strong> Robotic surgery refers to robotic-assisted surgery.
        It is not performed by robots. All procedures are performed by our skilled surgeons.
    </p>

    <button class="cta-button" (click)="openPopup()">Check Availability & Book Now</button>
</div>

<app-doctors-card [doctorDetails]="doctors" [headers]="doctorHeader" (bookAppointment)="handleBookAppointment($event)" />

<div class="comparison-section" style="margin-top: 30px;" id="surgery">
    <div class="comparison-header">
        <h2>Robotic vs. Laparoscopic Surgery: What's the Difference?</h2>
        <p>While both are minimally invasive, the Da Vinci Xi Robotic System offers superior precision,
            leading to faster recovery and better patient outcomes compared to traditional laparoscopy.</p>
    </div>

    <div class="comparison-table">
        <div class="comparison-column robotic-column">
            <img src="Images/packages/intuitive-davinci-xi-system-lineup-lowres.jpg"
                alt="Da Vinci Xi Robotic Surgery System" class="comparison-image">
            <h2>Robotic Surgery (Da Vinci Xi)</h2>
            <ul>
                <li class="plus">
                    <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                    <p><strong>3D HD Vision:</strong> Surgeon sees the surgical field in high-definition,
                        three-dimensional view for unparalleled depth perception.</p>
                </li>
                <li class="plus">
                    <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                    <p><strong>Enhanced Dexterity:</strong> Robotic instruments have seven degrees of motion,
                        mimicking the human wrist, which allows for finer and more precise suturing (stitching).
                    </p>
                </li>
                <li class="plus">
                    <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                    <p><strong>Superior Precision:</strong> Filters out natural hand tremors and allows for more
                        complex, delicate repairs.</p>
                </li>
                <li class="plus">
                    <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                    <p><strong>Reduced Pain & Scarring:</strong> The high precision results in less trauma to
                        surrounding tissue.</p>
                </li>
            </ul>
        </div>

        <div class="comparison-column robotic-column">
            <img src="Images/packages/laproscopic.jpg" alt="Laparoscopic Hysterectomy Surgery" class="comparison-image">
            <h2>Laparoscopic Surgery</h2>
            <ul>
                <li class="plus">
                    <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                    <p><strong>2D Vision:</strong> Surgeons view a flat, two-dimensional image, which can limit
                        depth perception.</p>
                </li>
                <li class="plus">
                    <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                    <p><strong>Limited Movement:</strong> Instruments have restricted movement (4 degrees of
                        motion), making complex suturing more challenging.</p>
                </li>
                <li class="plus">
                    <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                    <p><strong>Good Precision:</strong> Excellent compared to open surgery, but lacks the
                        micro-movements of a robotic system.</p>
                </li>
                <li class="plus">
                    <span class="icon-indicator"><i class="fa-solid fa-angles-right"></i></span>
                    <p><strong>Minimal Scarring:</strong> Also offers small incisions, but robotic methods often
                        allow for even smaller, strategically placed cuts.</p>
                </li>
            </ul>
        </div>
    </div>

    <a (click)="openPopup()" class="cta-button-comparison">Speak with our specialists today</a>
</div>


<div class="hernia-flow-section" id="types">
    <div class="section-header">
        <h2>Types of Hysterectomy and Recovery Overview</h2>
        <p>Each type of hysterectomy varies based on how much of the uterus or surrounding organs are removed. Here’s a
            quick overview to help you understand the options and recovery timelines.</p>
    </div>

    <div class="hernia-comparison-blocks">
        <div *ngFor="let hernia of herniaTypes" class="hernia-block" [ngClass]="hernia?.cssClass">

            <span class="type-badge">{{ hernia.badgeText }}</span>
            <h2>{{ hernia.title }}</h2>
            <p>{{ hernia.description }}</p>

            <div class="tag-flex">
                <!-- <div class="tag">{{ hernia?.tag }}</div> -->
                <div class="tag">{{ hernia?.location }}</div>
                <div class="tag">{{ hernia?.recoverytime }}</div>
                <div class="tag">{{ hernia?.hospitalStay }}</div>
            </div>

        </div>
    </div>

    <!-- <div class="treatment-benefits">
            <h2>Why Choose Our Laparoscopic Mesh Repair?</h2>
            <div class="benefit-cards">
                <div class="benefit-item">
                    <i class="benefit-icon">🔪</i>
                    <p>Minimally Invasive</p>
                </div>
                <div class="benefit-item">
                    <i class="benefit-icon">⏱️</i>
                    <p>Faster Recovery</p>
                </div>
                <div class="benefit-item">
                    <i class="benefit-icon">🛡️</i>
                    <p>Long-Term Relief</p>
                </div>
                <div class="benefit-item">
                    <i class="benefit-icon">✅</i>
                    <p>Insurance-Friendly</p>
                </div>
            </div>
        </div>

        <a href="#" class="cta-button-flow">Book Your Specialist Consultation Now</a> -->
</div>


<div class="surgery-timeline-h" id="procedures">
    <div class="timeline-header-h">
        <h2>What to Expect During Hysterectomy Surgery</h2>
        <p>Your Step-by-Step Care Journey</p>
    </div>

    <div class="timeline-container-h">
        <div class="timeline-step-h">
            <div class="step-marker-h">1</div>
            <h3>Consultation & Evaluation</h3>
            <p>Meet our gynecology team to discuss your symptoms, review reports and decide the most suitable treatment.
                We ensure complete clarity about the procedure, cost and recovery before you proceed.</p>
        </div>

        <div class="timeline-step-h">
            <div class="step-marker-h">2</div>
            <h3>Surgery Day</h3>
            <p>The surgery is performed under general anesthesia using <b>advanced laparoscopic or robotic-assisted
                    techniques</b>. It usually takes 1–2 hours and is designed to minimize pain, reduce scarring and
                speed up recovery.</p>
        </div>

        <div class="timeline-step-h">
            <div class="step-marker-h">3</div>
            <h3>Post-Surgery Stay</h3>
            <p>You’ll stay in the hospital for 1–2 days for observation while our team monitors your recovery. You’ll
                receive guidance on diet, wound care and medications to help your body heal smoothly.</p>
        </div>

        <div class="timeline-step-h">
            <div class="step-marker-h">4</div>
            <h3>Recovery & Follow-Up</h3>
            <p>Most women can resume light work within 2–3 weeks, depending on the type of hysterectomy performed.
                Follow-up visits ensure proper healing, help manage hormonal changes if any and support your overall
                well-being.</p>
        </div>
    </div>


    <!-- <div class="benefits-section-short">
            <h2>Why Choose Our Laparoscopic Mesh Repair?</h2>

            <div class="benefits-bar">
                <div class="benefit-item-short">
                    <span class="icon-short">🔪</span>
                    <p>Minimally Invasive</p>
                </div>
                <div class="benefit-item-short">
                    <span class="icon-short">⏱️</span>
                    <p>Faster Recovery</p>
                </div>
                <div class="benefit-item-short">
                    <span class="icon-short">🛡️</span>
                    <p>Long-Term Relief</p>
                </div>
                <div class="benefit-item-short">
                    <span class="icon-short">✅</span>
                    <p>Insurance-Friendly</p>
                </div>
            </div>

            <a href="#" class="cta-button-short">Book Your Specialist Consultation Now</a>
        </div> -->

    <!-- <app-pop-up-form-ads [isOpen]="isPopupOpen" (onClose)="closePopup()" (onSubmit)="handleFormSubmit($event)">
        </app-pop-up-form-ads> -->


    <!-- <div class="container_2">
            <div class="we_cure_with_care_section">
                <h2 class="heading">We Cure With Care</h2>
                <p class="para">Digest comfortably. Move freely. Live confidently. At Vasavi Hospitals, our Robotic
                    Cholecystectomy ensures safer surgery, faster recovery and lasting relief - so you can enjoy every
                    meal
                    and moment without pain.</p>
                <div class="cta_flex">
                    <button class="cta_2" (click)="openPopup()">Book an Appointment</button>
                    <a href="tel:8884545086" class="cta_call_2">Call Now</a>
                </div>
            </div>
        </div> -->



</div>

<div class="popup-overlay" *ngIf="isPopupOpen">
    <div class="popup-container" (click)="$event.stopPropagation()">
        <button class="popup-close" (click)="closePopup()">✖</button>
        <app-callback-form [pageName]="selectedPageName"></app-callback-form>
    </div>
</div>
<div class="popup-overlay image-pop-up" *ngIf="isPopupImageOpen">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeImagePopup()">✖</button>
    <img src="Images/packages/surgery-pop-ups.jpg" class="popup-image" />
  </div>
</div>